.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: #fff0fa;
  color: #222;
  animation: fadeIn 0.3s ease;
  padding: 25px 35px;
  border-radius: 100px 0 100px 0;
  max-width: 850px;
  width: 90%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 90vh;
}

.close {
  align-self: flex-end;
  font-size: 28px;
  color: #9c27b0;
  cursor: pointer;
  transition: 0.3s;
}
.close:hover {
  color: #e6007e;
}

.modal-body {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
}

.modal-left img {
  width: 320px;
  border-radius: 25px;
  object-fit: cover;
}

.modal-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.section-title {
  color: #e6007e;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}

.modal-info {
  font-size: 15px;
}

.buy-btn {
  display: inline-block;
  background: #3b00ff;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s;
  margin-top: 5px;
  margin-bottom: 6px;
}
.buy-btn:hover {
  background: #5c1fff;
  transform: scale(1.05);
}

.author-btn {
  background: transparent;
  color: #3b00ff;
  border: 2px solid #3b00ff;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.author-btn:hover {
  background: #3b00ff;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%;
}

@media (max-width: 480px) {
  .modal-left {
    display: none;
  }

  .modal-body {
    flex-direction: column;
    align-items: center;
  }

  .modal-right {
    width: 100%;
  }
}