.wrapper {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column;
}

body {
  font-family: "Montserrat";
  color: #fff;
  font-size: 2.4rem;
  transition: background 0.2s ease, color 0.2s ease;
  background-image: url("../img/bg-mobile.png");
  background-color: rgb(5, 5, 5);

  @media (min-width: 768px) {
    background-image: url("../img/bg-tablet.png");
  }


  @media (min-width: 1280px) {
    background-image: url("../img/bg-laptop.png");
  }
}