.header {
  background-image: url(/src/img/header-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.logo-svg {
  width: 120px;
  height: 120px;
}

.header-title {
  color: rgba(220, 86, 197, 1);
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
}

.search-controls {
  display: flex;
  flex-direction: column;
}

.header-input {
  background-color: rgba(147, 147, 147, 1);
}

.select-country {
  background-color: rgba(147, 147, 147, 1);
}

.header-btn {
  background-color: rgba(147, 147, 147, 1);
}

////////////////// tablet //////////////////

@media screen and (min-width: 768px) {
  .header {
    background-image: url(/src/img/header-bg-tablet.png);
  }

  .search-controls {
    display: flex;
    flex-direction: row;
  }

  .header-title {
    font-size: 30px;
  }
  .logo-svg {
    width: 180px;
    height: 180px;
  }
}
////////////////// desktop //////////////////

@media screen and (min-width: 1200px) {
  .header {
    background-image: url(/src/img/header-bg-desktop.png);
    object-fit: cover;
  }
  .header-title {
    font-size: 50px;
  }
  .logo-svg {
    width: 250px;
    height: 250px;
  }
}
