.header {
  background-image: url(/src/img/header-background.png);
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;

  background-size: contain;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-svg {
  width: 120px;
  height: 120px;
}

.header-title {
  color: rgba(220, 86, 197, 1);
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
}

////////////////// tablet //////////////////

@media screen and (min-width: 768px) {
  .header {
    background-image: url(/src/img/header-bg-tablet.png);
    height: 57vh;
  }
  .header-title {
    font-size: 30px;
  }
  .logo-svg {
    width: 180px;
    height: 180px;
  }
}
////////////////// desktop //////////////////

@media screen and (min-width: 1200px) {
  .header {
    background-image: url(/src/img/header-bg-desktop.png);
  }
  .header-title {
    font-size: 50px;
  }
  .logo-svg {
    width: 250px;
    height: 250px;
  }
}
