<section class="header">
  <img src="/src/img/logo.svg" alt="Logo" class="logo-svg" />

  <h1 class="header-title">
    FIND BEST EVENTS <br />
    AROUND THE WORLD
  </h1>
  <div class="search-controls">
    <input
      class="header-input"
      id="keyword"
      type="text"
      placeholder="Start searching"
    />
    <select class="select-country" id="country">
      <option value="">Choose country</option>
      <option value="US">United States</option>
      <option value="UA">Ukraine</option>
      <option value="GB">United Kingdom</option>
      <!-- add more -->
    </select>
    <button class="header-btn" id="search-btn">Search</button>
  </div>
</section>
